.myMemes {
    color: white;    
    background-color: rgb(33,33,33);
    text-align: center;
}

.memeContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.card {
    height: auto;
    width: 200px;
    background-color: white;
    text-align: center;
    color: rgb(33,33,33);
    margin: 15px;
}

.image {
    height: 150px;
    width: auto;
}

.buttonContainer {
    background-color: lightblue;
}

#button {
    margin-bottom: 4px;
    width: 50%;
}