.feed {
    text-align: center;
}

.displayMemes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.feedCard {
    height: 400px;
    width: 250px;
    border: thin solid white;
    margin: 10px;
}

#caption {
    font-weight: bold;
}

.feedImage {
    height: 150px;
    width: auto;
    object-fit: contain;
}