.feed {
    text-align: center;
}

.displayMemes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.feedCard {
    height: 400px;
    width: 250px;
    border: thin solid white;
    margin: 10px;
}

#feedCaption {
    font-weight: bold;
    background: linear-gradient(to right, white 99%, grey 100%);
    height: 30px;
    overflow: hidden;
}

.feedImage {
    height: 150px;
    width: auto;
    object-fit: contain;
}


