#navbar {
    background-color: lightblue;
    border-bottom: thick solid rgb(33,33,33);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    /* float: right; */ /*uncomment this line to make nates component disapear :D */
    justify-content: flex-end;
    position: right;
    margin: 0;
}

#navButtons {
    /* float: right; */
}

#link {
    color: inherit;
    text-decoration: none;
}

#link:hover {
    color: inherit;
}

#logoutButton:hover {
    background-color: lightgray;
    color: #333;
}

#homeButton {
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    /* width: 30px; */
    /* position: right; */
    /* float: right; */
    position: relative;
    right: -5px;
}

#drawerButton {
    /* text-align: right; */
    float: right;
    /* position: right; */
}

#postMemeButton {
    /* text-align: right; */
    /* float: right; */
    /* position: right; */
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    display: inline-flex;
 position: relative;
    align-items: center;
    /* width: 15px; */
}